extends ../layout
block append script
  script(src='./javascripts/table.js')
block content
  .container
    if error_msg != null
      each item in error_msg
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
          p #{item.msg}
          button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
    table#dtBasicExample.table.table-striped(style='text-align: center; font-size: 12px;')
      thead
        tr
          th(scope='col') ردیف
          th(scope='col') استان
          th(scope='col') شهرستان
          th(scope='col') شهر
          th(scope='col') واحد پستی
          th(scope='col') نوع واحد
          th(scope='col') وضعیت
          th(scope='col') شماره اموال
          th(scope='col') شماره سریال
          th(scope='col') نمایش و حذف
          th(scope='col') ویرایش
      tbody
        each item in dm
          tr(style='font-size: 10px;')
            td 
            td #{item.StateName}
            td #{item.CountyName}
            td #{item.CityName}
            td #{item.OfficeName}
            td #{item.NodeKind}
            td #{item.StatusName}
            td #{item.Asset_No}
            td #{item.Serial_No}
            td
              a.btn.btn-success(style='font-size: 7px; font-style: normal; margin-right: 2%;' href='/editMonitor/'+item.Id) &#10004
            td               
              a.btn.btn-warning(style='font-size: 7px; font-style: normal;' href='/deleteMonitor/delete/'+item.Id) &#128394
    .row.mt-5.mr-5
      .col-md-6.mr-3
        a.btn-primary.linkbutton(style='padding-left: 30px; padding-right: 30px;', href='/createMonitor') ایجاد